:root{
  --basic-gray: #EEEEEE;
  --basic-extra-gray: #888888;
  --basic-very-gray:#666666;
  --basic-black: #000000;
  --basic-extra-black: #444444;
  --basic-extra-extra-gray:#DFDFDF;
  --special-gray: #D5D5D5;
  --special-very-gray:#DBDBDB;
  --basic-white: #FFFFFF;
  --basic-pink: #FB565A;
  --basic-extra-pink:#E74246;
  --basic-very-pink:#D7373B;
  --basic-green: #00CA74;
  --basic-extra-green: #00BC6C;
  --basic-very-green:#00AA62;
  --basic-yellow: #EFC849;
  --basic-extra-yellow:#EAB534;
  --basic-very-yellow: #E5A722;
  --basic-extra-blue: #283136;
}

/* Global */
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.inner-page .main-header {
  background-color: var(--basic-gray);
}
.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.inner-page .shop{
  text-decoration-line: underline;
  text-decoration-color: var(--basic-pink);
}
.center-title{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.sort-list{
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list a:hover{
  color:var(--basic-black);
  opacity:0.6;
}
.sort-list a:active{
  color:var(--basic-black);
  opacity:1;
  }

.sort-list a{
  color:var(--basic-black);
  opacity:0.3;
}
.catalog-info{
  display:none;
}
.catalog-item:hover .catalog-info{
  display: block
}
.catalog-list{
  list-style: none;
}
.catalog-category{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-very-gray);
}
.catalog-item-title:hover{
  color: var(--basic-pink);
}
.catalog-item-title:active{
  color:var(--basic-black);
  opacity: 0.3;
}
.catalog-item-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.catalog-item-price .button{
  padding: 15px 72px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
}
.catalog-item-price .button:hover{
  background-color: var(--basic-extra-pink);
}
.catalog-item-price .button:active{
  background-color: var(--basic-very-pink);
}

.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
}
.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--basic-extra-extra-gray);
  border-radius: 3px;
}
.pagination-item a:active{
  background: var(--special-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  color: var(--basic-black);
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--special-very-gray);
  box-sizing: border-box;
  border-radius: 3px;
}
.main-header{
  background-color:var(--basic-gray);
}
.main-navigation{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}
.site-navigation{
  list-style: none;
}
.site-navigation a,
.basket{
  color: var(--basic-black);
}
.site-navigation a:hover,
.basket:hover{
  color: var(--basic-pink);
}
.site-navigation a:active,
.basket:active{
  color: var(--basic-extra-gray);
}
.site-navigation a:focus,
.basket:focus{
  text-decoration: underline;
  text-decoration-color: var(--basic-pink);
}
.description,
.center-title{
  background-color:var(--basic-gray);
}
.description-text{
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color:var(--basic-gray);
}
.description .button{
  color:var(--basic-white);
  background-color: var(--basic-pink);
  padding: 15px 54px ;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.description .button:hover{
  background-color: var(--basic-extra-pink);
}
.description .button:active{
  background-color: var(--basic-very-pink);
}
.services-list{
  list-style:none;
  margin: 0;
  padding: 0;
}
.service-item-title{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.services .button{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.services .pink{
  background-color: var(--basic-pink);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .pink:hover{
  background-color: var(--basic-extra-pink);
}
.services .pink:active{
  background-color: var(--basic-very-pink);
}
.services .green{
  background-color: var(--basic-green);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .green:hover{
  background-color: var(--basic-extra-green);
}
.services .green:active{
  background-color: var(--basic-very-green);
}
.services .yellow{
  background-color: var(--basic-yellow);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .yellow:hover{
  background-color: var(--basic-extra-yellow);
}
.services .yellow:active{
  background-color: var(--basic-very-yellow);
}
.about-text{
  font-size: 45px;
  line-height: 45px;
}
.about-subtitle{
  font-weight: bold;
  text-transform: uppercase;
}
.about-list{
  list-style-type: square;
}
.table-item-row1{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.table-item-row1 sup{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}
.table-item-row2{
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.companies .companies-list{
  list-style:none;
  margin: 0;
  padding: 0;
}

.contacts .contacts-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.contacts .contacts-text,
.contacts .contacts-phone
{
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-very-gray);
}
.contacts .feedback{
  display:inline-block;
  color:var(--basic-white);
  background-color: var(--basic-pink);
  padding: 15px 44px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.socials .socials-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.socials .socials-text{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.socials .socials-sale{
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-black);
}

