:root{
  --basic-gray: #EEEEEE;
  --basic-extra-gray: #888888;
  --basic-very-gray:#666666;
  --basic-black: #000000;
  --basic-extra-black: #444444;
  --basic-extra-extra-gray:#DFDFDF;
  --special-gray: #D5D5D5;
  --special-very-gray:#DBDBDB;
  --basic-white: #FFFFFF;
  --special-extra-gray:#E1E1E1;
  --basic-pink: #FB565A;
  --basic-extra-pink:#E74246;
  --basic-very-pink:#D7373B;
  --basic-green: #00CA74;
  --basic-extra-green: #00BC6C;
  --basic-very-green:#00AA62;
  --basic-yellow: #EFC849;
  --basic-extra-yellow:#EAB534;
  --basic-very-yellow: #E5A722;
  --basic-extra-blue: #283136;
}

/* Global */
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
/*Grid */
.page{
  height:100%;
}
.page-body{
  min-height: 100%;
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Main header */
.main-header {
  margin-bottom: 70px;
  /*
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  */
}
 .main-navigation{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-navigation {
  width: 437px;
  margin: 0;
  padding: 0;
  /*
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  */
  list-style: none;
}
.site-navigation-wrapper{
  width: 100%;

}
.site-navigation-wrapper .center {
  display: flex;
  justify-content: space-between;
}
/* Logo */

.main-header-logo {
  /*
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  */
  width: 160px;
  height :65px;
}
 .main-navigation .title{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color:var(--basic-gray);
  grid-column: 1 / -1;
  text-align: center;
  text-transform: none;
  font-style: normal;
}
.catalog-wrapper{
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}
.center,
.main-footer {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/*.main-navigation-wrapper{
  display:grid;
  grid-template-columns:  1fr min-content;
}
*/

/*
.description
{
  display: grid;
  grid-template-columns:1fr 1fr;
  background-color:var(--basic-gray);
}
*/

/*Basket navigation */
/*
.basket {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}
*/

 .description{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.description-wrapper p{
  margin: 40px 0;
}




.description .description-image{
  width: 760px;
  height: 431px;
  background-image: url(../img/nerds-slider.png);
}

.visually-hidden{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.basket-navigation{
  max-width:75px;
}
.basket-navigation .login-link {
  padding-left: 50px;
}
.services{
  margin-bottom: 155px;
}
.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;;
}
.service-item p{
 margin-top: 23px;
 margin-bottom: 32px;
}
.companies-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.companies{
  margin-bottom:185px;
}
.inner-page .main-header {
  background-color: var(--basic-gray);
}
.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.inner-page .shop{
  text-decoration-line: underline;
  text-decoration-color: var(--basic-pink);
}

.sort-list{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-list a:hover{
  color:var(--basic-black);
  opacity:0.6;
}
.sort-list a:active{
  color:var(--basic-black);
  opacity:1;
  }
.sort-list a{
  color:var(--basic-black);
  opacity:0.3;
}
.catalog-info{
  display:none;
}
.catalog-item:hover .catalog-info{
  display: block
}
.catalog-list,
.sort-list,
.pagination-list,
.site-navigation,
.services-list,
.companies .companies-list,
.socials, .socials-list
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-category{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-very-gray);
}
.catalog-item-title:hover{
  color: var(--basic-pink);
}
.catalog-item-title:active{
  color:var(--basic-black);
  opacity: 0.3;
}
.catalog-item-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.catalog-item-price .button{
  padding: 15px 72px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
}
.catalog-item-price .button:hover{
  background-color: var(--basic-extra-pink);
}
.catalog-item-price .button:active{
  background-color: var(--basic-very-pink);
}
.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
  font-weight:500;
}
.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--basic-extra-extra-gray);
  border-radius: 3px;
}
.pagination-item a:active{
  background: var(--special-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  color: var(--basic-black);
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--special-very-gray);
  box-sizing: border-box;
  border-radius: 3px;
}
.pagination-list{
  margin-bottom: 114px;
}
.main-header{
  background-color:var(--basic-gray);
}
.site-navigation a,
.basket{
  color: var(--basic-black);
  font-weight: 500;
}
.site-navigation a:hover,
.basket:hover{
  color: var(--basic-pink);
}
.site-navigation a:active,
.basket:active{
  color: var(--basic-extra-gray);
}
.site-navigation a:focus,
.basket:focus{
  text-decoration: underline;
  text-decoration-color: var(--basic-pink);
}
.description-text{
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color:var(--basic-gray);
  font-weight: 500;
}
.description .button{
  color:var(--basic-white);
  background-color: var(--basic-pink);
  padding: 15px 54px ;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight:500;
}
.description .button:hover{
  background-color: var(--basic-extra-pink);
}
.description .button:active{
  background-color: var(--basic-very-pink);
}
.service-item-title{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;
}
.services .button{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.services .pink{
  background-color: var(--basic-pink);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .pink:hover{
  background-color: var(--basic-extra-pink);
}
.services .pink:active{
  background-color: var(--basic-very-pink);
}
.services .green{
  background-color: var(--basic-green);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .green:hover{
  background-color: var(--basic-extra-green);
}
.services .green:active{
  background-color: var(--basic-very-green);
}
.services .yellow{
  background-color: var(--basic-yellow);
  color:var(--basic-white);
  padding: 15px 40px;
}
.services .yellow:hover{
  background-color: var(--basic-extra-yellow);
}
.services .yellow:active{
  background-color: var(--basic-very-yellow);
}
.about{
  display: grid;
  grid-template-columns: 1fr max-content;
}
.about-text{
  font-size: 45px;
  line-height: 45px;
}
.about-subtitle{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.about-list li{
  padding-bottom: 25px;
}
.table-item-row1{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.table-item-row1 sup{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}
.table-item-row2{
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.contacts .contacts-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.contacts .contacts-text,
.contacts .contacts-phone
{
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-very-gray);
}
.contacts .feedback{
  display:inline-block;
  color:var(--basic-white);
  background-color: var(--basic-pink);
  padding: 15px 44px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.socials-wrapper{
  display:flex;
 justify-content: space-between;
}
.socials-wrapper .socials-list{
  display:flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
 
}
.socials .socials-text{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.socials .socials-sale{
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-black);
}
.socials-item a{
  background-color: var(--special-extra-gray);
  border-radius: 15px;
 }
 .socials-list{
   width: 260px;
 }
.socials-text-wrapper{
  width: 560px;
}
.socials{
  margin-top: 122px;
}
.socials-item{
  margin-right: 9px;
}
.catalog-list{
  display:flex;
  flex-wrap: wrap;
  padding:0;
  margin:0;
  margin-bottom: 55px;
  list-style: none;
  }
  .catalog-item{
    width:358px;
    min-height:231px;
    margin-right:42px;
    margin-bottom:30px;
  }
  .pagination-list{
    display:flex;
  }
  .pagination-item{
    margin-right:11px;
  }